.App{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.QuizBlock{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.QzInactive{
  background-color: orange;
}

.QzActive{
  background-color: lightseagreen;
}

.Answers{
  overflow-y: scroll;
  height: 60vh;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  border-radius: 30px;
  box-shadow: 0px 1px 8px black;
  background: linear-gradient(30deg,rgba(2, 0, 0, 0.534),rgba(109, 71, 35, 0.336));
}
.Answers::-webkit-scrollbar{
  display: none;
}
.wrongAns{
  color: red;
}
.rightAns{
  color: lightgreen;
}
.question{
  color: white;
}
hr{
  background: black;
  height: 10px;
}
button{
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: 1rem;
}
.statement{
  height: 200px;
  font-size: 1.5rem;

}
.statement>.stmtInput{
  height: 100px;
  font-size: 1.3rem;
  width: 100px;
}

.range{
  font-size: 1.5rem;
}
.range>button{
  width: 50px;
}